<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  id="simulation-form"
  class="form-d"
>
  <div class="mb-3">
    <label for="initialValue" class="form-label">Valor Inicial</label>
    <input
      appCurrency
      type="text"
      class="form-control"
      [class.is-invalid]="
        formControls.initialValue.dirty && formControls.initialValue.invalid
      "
      id="initialValue"
      aria-describedby="initialValue"
      placeholder="Valor Inicial"
      formControlName="initialValue"
    />

    @if (
      formControls.initialValue.invalid &&
      (formControls.initialValue.dirty || formControls.initialValue.touched)
    ) {
      @if (formControls.initialValue.errors?.["required"]) {
        <div class="invalid-feedback">O campo é obrigatório</div>
      }
      @if (formControls.initialValue.errors?.["min"]) {
        <div class="invalid-feedback">O valor mínimo é R$ 1,00</div>
      }
    }
  </div>
  <div class="mb-3">
    <label for="months" class="form-label">Meses</label>
    <input
      appNumberOnly
      type="text"
      class="form-control"
      [class.is-invalid]="
        formControls.months.dirty && formControls.months.invalid
      "
      id="months"
      placeholder="Meses"
      formControlName="months"
    />
    @if (
      formControls.months.invalid &&
      (formControls.months.dirty || formControls.months.touched)
    ) {
      @if (formControls.months.errors?.["required"]) {
        <div class="invalid-feedback">O campo é obrigatório</div>
      }
      @if (formControls.months.errors?.["min"]) {
        <div class="invalid-feedback">
          A quantidade mínima de meses é 1 (um)
        </div>
      }
    }
  </div>

  <div class="d-grid">
    <button
      id="submit-btn"
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid"
    >
      Calcular
    </button>
  </div>
</form>
