<div class="d-flex justify-content-center mt-4">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">💰 Calculadora de CDB 💰</h1>
      <p class="lead">
        Uma calculadora simplificada para saber o resultado dos seus
        investimentos!
      </p>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row gx-5">
    <div class="col-12 col-lg-6">
      <app-simulation-form
        id="simulation-form-comp"
        (submitSimulationEvent)="submitSimulationEvent($event)"
      />
    </div>
    <div class="col-12 col-lg-6">
      <app-simulation-results
        [discountedValue]="discountedValue()"
        [totalValue]="totalValue()"
        [months]="months()"
      />
    </div>
  </div>
</div>
